In [198]:
import pandas as pd 
import numpy as np

In [199]:
df = pd .read_csv("eng.train.true_labels.csv",header=None)

In [200]:
df.head()

       0
0      O
1      O
2  I-PER
3      O
4      O

In [201]:
df[0].unique()

array(['O', 'I-PER', 'I-MISC', 'I-LOC', 'I-ORG', 'B-ORG', 'B-MISC'],
      dtype=object)

each label will be represented by a one hot vector which is essential for our network layer afterwards.


For example 'PER' will be represented as [0,1,0,0,0]

In [202]:
# shape of new_df is (5000,5) pour 
new_df = pd.DataFrame(np.zeros((df.shape[0],5)), dtype=int)

In [203]:
new_df.head()

   0  1  2  3  4
0  0  0  0  0  0
1  0  0  0  0  0
2  0  0  0  0  0
3  0  0  0  0  0
4  0  0  0  0  0

In [204]:
labels = {'PER':1,'MISC':2,'LOC':3,'ORG':4,'O':0}

In [205]:
labels.keys()

dict_keys(['PER', 'MISC', 'LOC', 'ORG', 'O'])

In [206]:
def transform(ligne):
    for key in labels.keys():
        if key in df[0][ligne]:
            new_df.iloc[ligne,labels[key]]=1
            break;

In [207]:
# fill in the new_df

In [208]:
for ligne in range(df.shape[0]):
    transform (ligne)

In [209]:
new_df.head(25)

    0  1  2  3  4
0   1  0  0  0  0
1   1  0  0  0  0
2   0  1  0  0  0
3   1  0  0  0  0
4   1  0  0  0  0
5   1  0  0  0  0
6   1  0  0  0  0
7   1  0  0  0  0
8   1  0  0  0  0
9   1  0  0  0  0
10  1  0  0  0  0
11  1  0  0  0  0
12  1  0  0  0  0
13  1  0  0  0  0
14  0  0  1  0  0
15  1  0  0  0  0
16  1  0  0  0  0
17  1  0  0  0  0
18  1  0  0  0  0
19  1  0  0  0  0
20  1  0  0  0  0
21  1  0  0  0  0
22  1  0  0  0  0
23  1  0  0  0  0
24  1  0  0  0  0

In [210]:
new_df.to_csv ('multiclass-eng.train.true_labels.csv',index=False)